</td>
</tr>
</table>
<div style="color:gray;"><center>{conf tongji} 
{eval $__server_execute_time = round(microtime(true) - $GLOBALS[_J][time_start], 5) . " Second ";}
{eval $__gzip_tips = ((defined('GZIP') && GZIP) ? "&nbsp;Gzip Enable." : "Gzip Disable.");}
<span title="网页执行信息：{$__server_execute_time},{$__gzip_tips}">
&nbsp; 网页执行信息：{$__server_execute_time},{$__gzip_tips}</span></center></div>
<div style="clear:both;text-align:center;margin:5px auto;">Powered by DataCore © 2005 - 2012 INET Inc.</span></div>
</body></html>{$GLOBALS[iframe]}
