{template "topic_header"}

<script>
/**
 * 名人堂  ajax 
 * ajax 切换显示 名人堂查看方式
 * 
 * 查看类别
 * category == 按类别分类
 * province == 按地区分类
 *
 * var  list_type == 查看类别
*/
function ajax_category(list_type,id)
{	
	
	var ajax_url = '';

	ajax_url = "ajax.php?mod=validate&code=category";

	var post = {
		list_type:list_type,
		id:id
	};
	
	var myAjax=$.post(
	ajax_url,
	post,
	function(d){
		if(d){
			//alert(d);
			$('#validate_list').html(d);
		}
	});
	return false;
}
</script>

<div class="setframe">

<!--此处三栏-->
<!--{template 'topic_new_left.ini'}-->
<!--此处三栏-->

<div class="main3Box_m HotW ">
  <div class="Hotwarp eventB">
    <!--{if $member_list}-->
    <div class="people_l">
    <div class="main_t"><span>名人堂推荐用户</span></div>
	<div class="people_l_b"> 
		<!--{loop $member_list $val}-->
			<li alt="{$val[vip_info]}" title="{$val[vip_info]}">
				<!--{if $val[uid] != MEMBER_ID}-->
				<img src="{$val[face]}" onerror="javascript:faceError(this);" onmouseover="get_user_choose({$val[uid]},'_user',{$val[uid]});" onmouseout="clear_user_choose();"/>
				<!--{else}-->
				<img src="{$val[face]}" onerror="javascript:faceError(this);"/>
				<!--{/if}-->										
				<span class="nm">{$val[nickname]}</span>
			</li>
			<div id="user_{$val[uid]}_user"></div>
		<!--{/loop}-->
	</div>
    </div>
	<!--{/if}-->

	<div id="ajaxcontent" class="people_l">
	<div class="main_t"><span>V认证用户微博</span></div>
	  <!--{loop $topics $val}-->
	  <div class="indexrow" id="topic_list_{$val[tid]}">
		<div class="feedCell" style="width:540px; overflow:hidden">
		  <div class="avatar"><a href="index.php?mod={$val[username]}"><img onerror="javascript:faceError(this);" src="{$val[face]}" /></a></div>
		  <div class="Contant">
			<div class="oriTxt">
			  <p><a title="{$val[username]}" href="index.php?mod={$val[username]}">{$val[nickname]}</a>{$val[validate_html]}: <span>{$val[content]}</span></p>
			</div>
			<div class="from"> 
			<div class="mycome">{if !$no_from}{$val[from_html]}{/if}</div>
			<span style="float:right;"><a href="index.php?mod=topic&code={$val[tid]}">{$val[dateline]}</a></span>
			</div>
		 </div>
		</div>
		<div class="mBlog_linedot" style="width:540px; overflow:hidden"></div>
	  </div>
	  <!--{/loop}-->
	</div>
	
	<div class="topL2">
	  <div class="Tnav">
	    <div class="Pname">人气排行榜</div>
	  </div>
	  <ul class="toplu">
		<!--{loop $hot_members_list $val}-->
		<li>
		  <div class="daren">
		    <div class="daren2">  
				<!--{if $val[uid] != MEMBER_ID}-->
				<img src="{$val[face]}" onerror="javascript:faceError(this);" onmouseover="get_user_choose({$val[uid]},'_r_users',{$val[uid]});" onmouseout="clear_user_choose();"/>
				<!--{else}-->
				<img src="{$val[face]}" onerror="javascript:faceError(this);"/>
				<!--{/if}-->
		    </div>
		    <div id="user_{$val[uid]}_r_users" class="layS4"></div>
		    <div class="daren3">
		      <p><a target="_blank" href="index.php?mod={$val[uid]}">{$val[nickname]}</a> {$val[validate_html]}</p>
		      <p>{$val[province]}&nbsp;{$val[city]}</p>
		    </div>
		  </div>
		</li>
		<!--{/loop}-->	
	  </ul>
	</div>
		
		
</div>

<!--右侧-->

<div class="Hotright">
 <div class="peopleSide">
 <div class="eventBVip"><a title="取得认证，获得推荐" href="index.php?mod=other&code=vip_intro"><img src="templates/default/images/quare/btn_rf.gif"></a></div>
    <!--{if $category_list}-->
      <!--{loop $category_list $clist}-->
      <div class="rightBox_t"><a class="peopleSidea" href="javascript:viod(0);" onclick="ajax_category('category',$clist['id']); return false;" >{$clist['category_name']}</a><span class="set_tag"></span></div>
      <!--{/loop}-->
    <!--{/if}-->
	<div class="rightBox_t"><a class="peopleSidea" href="javascript:viod(0);" onclick="ajax_category('province'); return false;"  >按地区分类</a><span class="set_tag"></span></div>
	<div id="validate_list"></div>
  </div>
</div>

</div>
</div>
{template "topic_footer"}