<!--{template "topic_header"}-->
<div class="main {$t_col_main}">

    <!--此处三栏-->
    <div class="t_col_main_si {$t_col_main_side}">
        <div class="t_col_main_fl">
            <div id="topic_index_left_ajax_list">
                {template "topic_member_left.inc"}
            </div>
        </div>
    </div>
    <!--此处三栏-->
    <div class="mainL">
        <div class="mblogTitle2"> 
            <div class="left_s">
                <!--{if !$pageOnOff}-->
                <b>{$member[nickname]}的TACK信息</b>
                <!--{else}-->
                <!--{/if}-->
            </div>
            <!--搜索关注 start -->
            <!--{if $member[uid]}-->
            <!--{/if}-->
            <!-- 搜索关注 end -->
        </div>

        <!--{if !$pageOnOff}-->
        <!--分组管理-->
        <!--{if $member[uid] == MEMBER_ID}-->
        <div class="TopicMan" style="display:none">
            <div class="nfTagB">
                <li class="add_group2"><a href="javascript:void(0)" onclick="showFollowGroupAddDialog();" class="shareII">创建分组</a></li>

                <ul class="nfTagB2ul">
                    <!--{eval if($this->Get[gid] == '') $follow= "current";}-->
                    <li class="{$follow}"><span><a href="index.php?mod=track&code=phone" title="">全部</a></span></li>
                    <!--{if $group_view[group_name]}-->
                    <li class="current nfTagB_cur ">
                    <span>
                        <b id="up_grouplist_view_{$group_view[id]}">{$group_view[group_name]}</b>
                        <a href="index.php?mod=track&code=phone" class="arrow">
                            <cite class="arr_m"></cite> 
                            <div class="sltmenu" onclick="get_group_choose({$member[uid]});">管理分组</div>
                        </a>
                    </span>
                    </li>
                    <!--{/if}-->

                    <!--{loop $grouplist2 $val}-->
                    <li>
                    <!--{if $group_view[group_name] != $val[group_name]}-->
                    <span id="del_group_follow_top_{$val[id]}">
                        <a title="{$val[group_name]}" href="index.php?mod=track&code=phone&gid={$val[id]}">{$val[group_name]}</a>
                    </span>
                    <!--{/if}-->
                    </li>
                    <!--{/loop}-->

                    <script type="text/javascript">
                        $(document).ready(function(){
                                $(".arrow").mouseover(function(){$(".sltmenu").show();});
                                $(".arrow").mouseout(function(){$(".sltmenu").hide();});
                                $(".moreBox").mouseover(function(){$(".morelist").show();});
                                $(".moreBox").mouseout(function(){$(".morelist").hide();});
                                });
</script>

<li class="moreBox"> <a href="javascript:;" class="moreti"><span class="txt">更多</span><span class="more"></span></a> 
<div class="morelist">
    <ul class="sltmenu_m" >
        <li id="add_group_fllow" class="grouplist">
        <!--{template "topic_group_ajax"}-->
        </li>
        <li class="B_linedot"></li>
        <li class="slA"><a href="javascript:void(0)" onclick="showFollowGroupAddDialog();">添加分组</a></li>
        <li class="slM"><a href="index.php?mod=track&code=phone">管理分组</a></li>
    </ul>
</div>	
</li>
        </ul>	
        <div class="clear"></div>
    </div>

    <div class="nfBox" style="display:none">
        <div class="left">排序方式：
            <!--{eval if(empty($this->Get[type])) $_follow_time = "current";}-->
            <!--{eval if($this->Get[type] == 'lastpost') 	$lastpost = "current";}-->
            <!--{eval if($this->Get[type] == 'fans_count') $fans_count = "current";}-->
            <a href="index.php?mod=track&code={$this->Code}" class="{$_follow_time}">默认排序</a>
            <a href="index.php?mod=track&code={$this->Code}&type=lastpost" class="{$lastpost}">最近联系</a>
            <!--<a href="index.php?mod=track&code={$this->Code}&type=fans_count" class="{$fans_count}">粉丝数</a>-->
        </div>
        <div class="clear"></div>
    </div>

    <!--{if $this->Get[gid]}-->
    <div class="nfBox" style="display:none">
        <div class="nfBoxList">
            <!--{eval if($this->Get[gid]) $get_gid= "&gid=".$this->Get[gid];}-->
            <a href="javascript:void(0)"><img src="images/user.gif" class="chgz_ico">该分组共{$group_view[group_count]}人</a>
            <a href="javascript:void(0)" onclick="showFollowGroupModifyDialog();"><img src="images/dot_edit.gif" class="chgz_ico">修改分组名称</a>
            <a href="javascript:deleteFollowGroup({$group_view[id]});" ><img src="images/imgdel.gif" class="chgz_ico">删除该分组</a>
        </div>
        <div class="clear"></div>
    </div>
    <!--{/if}-->
</div>
<!--{if $this->Get[gid]}-->
<!--修改分组-->
<div id="modify_group" style="display:none">
    <div class="fans_group_inner">
        <form action="ajax.php?mod=topic&code=do_group" method="POST" name="up_group_name_form" id="up_group_name_form" target="groupframe" onsubmit="return false;"  >
            <div>
                <span>分组名称：</span>
                <input name="modify_group_{$group_view[id]}" type="text" id="modify_group_{$group_view[id]}" class="Ainp" value="{$group_view[group_name]}" style="width:250px;" onkeydown="ctrlEnter(event, 'modify_follow_btn');"/>
            </div> 
            <div class="tool_bar">
                <button type="button" id="modify_follow_btn" class="shareI" onclick="GroupSubmit('modify_group_{$group_view[id]}',{$group_view[id]},'modify');closeDialog('hk_follow_group_modify_dialog');return false;">保存</button>
                <button type="button" class="shareI" onclick="closeDialog('hk_follow_group_modify_dialog');">取消</button>
            </div>
        </form>
    </div>
</div>
<!--修改分组-->
<!--{/if}-->
<!--{/if}-->
<!--{/if}-->

<!--{if $track_list}-->
<ul class="followList" style="overflow:hidden">
    <!--{loop $track_list $val}-->
    <li class="pane" id="{$val[id]}">
    <div class="fBox_l">
        <img onerror="" src="{$val[id]}"/> 
    </div>
    <div id="user_user" class="layS"></div>
    <div class="fBox_R" style="width:200px">
        <p>
        <span class="name" style="float:left;display:inline;">
            <a>{$val[username]}</a>
        </span>
        <!--{if $val[gender] == 1}-->
        <img src="images/user.gif"  title="{$val[nickname]}"/>
        <!--{elseif $val[gender] == 2}-->
        <img src="images/user_female.gif"  title="{$val[nickname]}"/>
        <!--{else}-->
        <img src="images/user.gif"  title="{$val[nickname]}"/>
        <!--{/if}-->   
        <!--{if MEMBER_ID==$member[uid]}-->
        <span>
            <a href="javascript:void(0)" onclick="get_remark({$val[uid]});return false;">
                <span id="remarklist_{$val[uid]}">备注{if $val[remark]}({$val[remark]}){/if}</span>
            </a>
        </span>
        <!--{/if}-->
        </p>
        <p>{$val[trackkey]}</p>
        <span id="group_list2_{$val[uid]}" style="display:block;">
            <!--{loop $user_group $GroupName}-->
            <!--{if $GroupName[touid] == {$val[uid]}}-->
            <span style="padding:0px;">
                <a href="index.php?mod=topic&code=follow&gid={$GroupName[gid]}">[ {$GroupName[g_name]} ]</a>
            </span>
            <!--{/if}-->
            <!--{/loop}-->
        </span>
        <!--{if MEMBER_ID == $member[uid]}-->
        <p class="pclas2">
        <a href="javascript:void(0)" onclick="get_group_choose({$val[uid]});return false;">设置分组</a> |
        <a href="javascript:void(0)" onclick="get_remark({$val[uid]});return false;">关联信息</a> |
        <a href="javascript:void(0)" onclick="follower_choose({$val[uid]},'{$val[nickname]}','lahei','topic_follow');return false;">删除</a>
        </p>
        <!--{/if}-->
    </div>
    </li>
    <!--{/loop}-->
    <!--{if $page_arr[html]}-->
    <li style=" background:none; width:100%">{$page_arr[html]}</li>
    <!--{/if}-->
    </ul>
<!--{/if}-->

</div>
</div>
<!--{template "topic_footer"}-->
